
@media only screen and (min-width:320px) and (max-width:992px){
 /*.dashboardFilter{display: block !important; white-space: nowrap; overflow-x: scroll;}
 .dashboardFilter::-webkit-scrollbar{display: none !important;}
 .dashboardFilter .col{display: inline-block; vertical-align: top; width: 250px; padding-right: 40px !important;}
 .dashboardFilter .search_box{position: relative; top: 24px !important;}*/
}


@media only screen and (min-width:320px) and (max-width:992px){
 .MuiTableCell-head{white-space: nowrap;}
}